@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;




html::-webkit-scrollbar{
  width:0.6vw;
}
html::-webkit-scrollbar-thumb{
  background-color: rgb(109, 94, 94);
  border-radius:7px;
}
html::-webkit-scrollbar-track{
  background:#e2e1e1 ;
}
html::-webkit-scrollbar-thumb:hover{
  background:#111111 ;
}







.label {
  position: relative;
}
.checkbox {
  position: absolute;
  /* left: 888px; */
  opacity: 0;
}
.label::before {
  background: white;
  border-radius: 6px;
  border: 1px solid #800080;
  content: '';
  display: inline-block;
  height: 20px;
  left: -25px;
  position: absolute;
  cursor: pointer;
  width: 20px;
}
.label::after {
  /* bottom:1.9px; */
  /* top:1px; */
  /* top:50%; */
  /* transform:translateY(-20%); */
  color: #440244;
  content: '\2713';
  font-weight: 500;
  height: 20px;
  left: -20.7px;
  bottom: 0.5px;
  margin-bottom: 3px;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 20px;
}
.checkbox:checked + .label::after {
  transform: scale(1);
}
.rounded-btn {
  @apply rounded-full flex items-center justify-center;
}

select.custom-select option:hover {
  /* box-shadow: 0 0 10px 100px pink inset; */
  background: aquamarine;
}
.testimonial::before {
  content: '"';
}
.testimonial::after {
  content: '"';
}

.testimonial::before,
.testimonial::after {
  position: absolute;
  font-size: 2rem;
}

.blockquote {
  @apply text-lg text-gray-400 absolute;
}

html{
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* .label{
    font-size:1.2rem;
    font-weight:bold;
position:relative;
} */
/* .checkbox{
position: absolute;
left: 60px;
opacity:0;
}
.main-box{
position: absolute;

content:"";

left:-35px;
border:1.2px solid purple;
border-radius:6px;
display:inline-block;
width:25px;
height: 25px;
background:white;

}
.check{
content:"\2713";
width: 22px;
height: 22px;
position: absolute;

left: -30px;
bottom:6px;


color:purple;
transform: scale(0);
transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.check.active{
    transform: scale(1);
} */
